<app-header></app-header>

<!-- Componente ordena ya -->

<div class="menu-header">
  <img src="/img/menu.png" alt="Icono de menú">
  <h2>Menú digital</h2>
</div>

<div class="opciones">
  
  <div class="opcion-card">
    <h3>Busca platillo por nombre</h3>
    <p>Escribe el nombre del platillo que deseas y te mostraremos los resultados al instante. Ideal si ya sabes lo que quieres.</p>
    <button>Buscar por nombre</button>
  </div>

  <div class="opcion-card">
    <h3>Filtra platillo por letra</h3>
    <p>Selecciona la letra inicial del platillo y explora todas las opciones disponibles que empiecen con esa letra.</p>
    <button routerLink="/ordena/primero">Filtrar por letra</button>
  </div>

  <div class="opcion-card">
    <h3>Buscar comida de manera aleatoria</h3>
    <p>¿No sabes qué elegir? Déjate sorprender con un platillo aleatorio de nuestro menú. ¡Descubrimientos deliciosos!</p>
    <button>Sorpresa aleatoria</button>
  </div>

  
</div>
<div class="footer"></div>


<app-footer></app-footer>
