<h2 class="titulo"> 🔎 Busca por nombre</h2>
<div class="buscador">
  <input [(ngModel)]="Nombre" type="text" placeholder="Buscar...">
  <button (click)="buscar()">
    🔍
  </button>
</div>
<div class="contenedor">
  @for(comida of meals; track comida.meals){
    <div class="platillo">
      <p>{{comida.strMeal}}</p>
      <img [src]="comida.strMealThumb">
      <p>Categoria: <span>{{comida.strCategory}} – {{comida.strArea}}</span></p>
      <div class="platillo_preparar">
        <p class="platillo__pregunta">¿Quieres prepararlo?</p>
        <a class="platillo__enlace" href="https://www.youtube.com/results?search_query={{comida.strMeal}}" target="_blank" rel="noopener">
          Ver video en YouTube
        </a>
      </div>
    </div>
  }
</div>

@if(meals == null){
<h2 class="center">No hay datos para esta busqueda</h2>
}
