  <header class="cabecera">
    <div class="logo">
      <img src="/img/logo.svg" alt="LOGO">
    </div>
    <nav class="navegacion">
      <a href="#" class="navegacion__link">Principal</a>
      <a href="#" class="navegacion__link">Sobre Nosotros</a>
      <a href="#" class="navegacion__link navegacion__link--registrar">¡Ordena ya!</a>
    </nav>
  </header>

  <main class="contenedor-info">

    <section id="info-app" class="info-app">
      <div class="info-texto">
        <h1>📦 Información de la App de Delivery</h1>
        <p><strong>DeliveryApp</strong></p>
        <p>Conecta usuarios con repartidores y comercios locales para facilitar la entrega rápida y segura de productos: comida, medicamentos, artículos del hogar, ¡lo que necesites!</p>

        <h2>🚀 ¿Cómo funciona?</h2>
        <ol>
          <li>Elige tu ubicación.</li>
          <li>Busca o navega por los comercios.</li>
          <li>Agrega productos al carrito.</li>
          <li>Finaliza el pedido y elige el método de pago.</li>
          <li>Un repartidor lo recoge y entrega lo antes posible.</li>
        </ol>

        <h2>📍 Cobertura:</h2>
        <p>Operamos en la <strong>zona metropolitana de Santo Domingo</strong>, con expansión continua.</p>
        <h2>📱 Diponibilidad</h2>
        <div class="dip-img">
            <div>
                <img class="imagn" src="/img/tienda-android.svg" />
            </div>
            <div>
                <img  class="imagn" src="/img/tienda-apple.svg" />
            </div>

        </div>
      </div>

      <div class="info-imagen">
        <img src="/img/dibujo_repartidor.svg" alt="Repartidor en acción">
      </div>
    </section>


  </main>